<div data-aos="fade-right" class="projects">
  <div class="header">
    <div *ngIf="visible" class="header-wrapper align-center dark-green">
      <div class="title">Design for</div>
      <div class="typing-box title">
        <div class="typing-effect">
          <span class="tw" #tw> </span>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div data-aos="fade-left" class="introduction dark-green">
      I am <b>Thi Ho</b>, a product designer who is constantly <br />
      seeking out great challenges, bridging the <br />
      gap between technology and humans
    </div>
  </div>

  <div class="flex center column">
    <div class="wrapper1 mt-70">
      <div>
        <div class="item cursor-pointer" [routerLink]="['/bubble-chat']">
          <img src="{{ imagePath }}/projects1.png" data-aos="fade-up" />
        </div>
        <div class="item cursor-pointer">
          <a
            href="https://www.behance.net/gallery/141661135/Prudential-Banca-Web-Game-Design"
            target="_blank"
          >
            <img
              class="round-border"
              width="588"
              height="400"
              src="{{ imagePath }}/projects4.gif"
              data-aos="fade-up"
            />
          </a>
        </div>
      </div>
      <div>
        <div class="item cursor-pointer" [routerLink]="['/zalo-chat']">
          <img src="{{ imagePath }}/projects4.png" data-aos="fade-up" />
        </div>
        <div class="item cursor-pointer" [routerLink]="['/zalo-connect']">
          <img src="{{ imagePath }}/projects3.png" data-aos="fade-up" />
        </div>
      </div>
    </div>
    <div class="item cursor-pointer" [routerLink]="['/regreen']">
      <img src="{{ imagePath }}/projects5.png" data-aos="fade-up" />
    </div>
  </div>
</div>
<div class="black flex center column">
  <div>
    <div class="white-text large-size">From the archives</div>
    <div class="center wrapper1">
      <div class="mt-100">
        <div class="item">
          <a
            href="https://www.behance.net/gallery/137813957/Downy-French-Lavender-Diptyque-CGI-Video"
            target="_blank"
          >
            <img src="{{ imagePath }}/projects6.png" data-aos="fade-up" />
          </a>
        </div>
        <br />
        <div class="item">
          <a [routerLink]="['/florist']">
            <img src="{{ imagePath }}/projects8.png" data-aos="fade-up"
          /></a>
        </div>
      </div>
      <div class="mt-50">
        <div class="item">
          <a
            href="https://www.behance.net/gallery/140724035/Mirinda-TVC-2022-x-Soobin-Pass-the-drop"
            target="_blank"
            ><img src="{{ imagePath }}/projects7.png" data-aos="fade-up"
          /></a>
        </div>
        <br />
        <div class="item" data-aos="fade-up">
          <a
            href="https://www.behance.net/gallery/137153351/Greenfeed-Animation-Video-OKR-Explainer"
            target="_blank"
          >
            <img
              height="560"
              width="565"
              src="{{ imagePath }}/project2.gif"
              class="project2-gif"
          /></a>
          <div class="small-img-title">UI Design / 2022</div>
          <div class="big-img-title h4">Greenfeed Animation Video | OKR</div>
        </div>
        <br />
        <div class="item">
          <img src="{{ imagePath }}/projects10.png" data-aos="fade-up" />
        </div>
      </div>
    </div>
  </div>
</div>
