@import "./color.less";

.h1 {
  font-size: 80px;
  line-height: 130%;
  font-family: "Syne";
}

.h2 {
  font-size: 64px;
  line-height: 130%;
}

.h3 {
  font-size: 36px;
  line-height: 160%;
}

.h4 {
  font-size: 28px;
  line-height: 170%;
  font-weight: 600;
}

.h4-not-bold {
  font-size: 28px;
  line-height: 170%;
}

.p1 {
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
}

.p2 {
  font-size: 18px;
  line-height: 160%;
}

.head-img {
  margin: 80px 40px;
  border-radius: 40px;
}

.font-syne {
  font-family: "Syne";
}

.font-jakarta {
  font-family: "Plus Jakarta Sans";
}

.font-space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.justify-content-center {
  justify-content: center;
}
