/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
* {
  -webkit-font-smoothing: antialiased;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(1000px);
  }
}

@keyframes slide-to-right {
  to {
    transform: translateX(1500px);
  }
}

::view-transition-new(root) {
  animation: 600ms cubic-bezier(0, 0, 0.2, 1) both fade-in,
    800ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-old(root) {
  animation: 600ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    800ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
}
